/.vscode
/a1.cpp
/a1.exe
/a2.cpp
/caesar.py
/diffihellman.py
/hill.py
/p1.cpp
/p1.exe
/p10.cpp
/p10.exe
/p11.cpp
/p11.exe
/p12.cpp
/p12.exe
/p13.cpp
/p13.exe
/p14.cpp
/p14.exe
/p15.cpp
/p15.exe
/p16.cpp
/p16.exe
/p17.cpp
/p17.exe
/p18.cpp
/p18.exe
/p19.cpp
/p19.exe
/p2.cpp
/p2.exe
/p20.cpp
/p20.exe
/p3.cpp
/p3.exe
/p4.cpp
/p4.exe
/p5.cpp
/p5.exe
/p6.cpp
/p6.exe
/p7.cpp
/p7.exe
/p8.cpp
/p8.exe
/p9.cpp
/p9.exe
/substitution.py